@import "./reset.css";

html,
body {
  max-width: 100%; /* Ограничивает максимальную ширину элемента 100% от родителя */
  overflow-x: hidden; /* Скрывает горизонтальную прокрутку (если контент выходит за пределы по оси X) */
  height: 100%; /* Устанавливает высоту элемента равной 100% высоты родителя */
  margin: 0; /* Убирает внешние отступы со всех сторон */
}

* {
  box-sizing: border-box; /* Включает расчёт размеров с учётом padding и border внутри указанной ширины и высоты */
  /* outline: 1px solid red;   */
}

/* === ФОН И ОСНОВНЫЕ СТИЛИ === */
body {
  margin: 0; /* Убирает внешние отступы элемента */
  padding: 0; /* Убирает внутренние отступы элемента */
  background-image: url("../img/fon/les.png"); /* Устанавливает фоновое изображение */
  background-size: cover; /* Масштабирует фон так, чтобы он полностью покрывал элемент */
  background-position: center; /* Центрирует фоновое изображение */
  background-attachment: fixed; /* Делает фон фиксированным (эффект параллакса при прокрутке) */
  font-family:
    Arial, sans-serif; /* Устанавливает шрифт Arial, с запасным вариантом sans-serif */
  color: white; /* Устанавливает белый цвет текста */
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8); /* Добавляет тень к тексту для лучшей читаемости */
  overflow-x: hidden; /* Скрывает горизонтальную прокрутку */
  display: flex; /* Включает Flexbox для элемента */
  flex-direction: column; /* Располагает дочерние элементы вертикально (в колонку) */
  min-height: 100vh;
}

img {
  max-width: 100%; /* Ограничивает максимальную ширину элемента 100% ширины родителя (не даёт выходить за пределы контейнера) */
  height: auto; /* Автоматически подстраивает высоту пропорционально ширине (сохраняет соотношение сторон, например, у изображений) */
}

/* === ШАПКА === */
.top-nav {
  display: flex; /* Включает Flexbox для упрощённого выравнивания дочерних элементов */
  justify-content: space-between; /* Распределяет дочерние элементы равномерно с максимальным расстоянием между ними */
  align-items: center; /* Выравнивает дочерние элементы по центру по вертикали */
  padding: 4vw 2vw 2vw 4.5vw; /* Внутренние отступы: 20px сверху/снизу, 60px слева/справа */
  box-sizing: border-box; /* Включает padding и border в расчёт ширины/высоты элемента */
  position: relative; /* Позволяет позиционировать дочерние элементы относительно этого элемента */
  margin: 0 0 0 10px; /* Внешние отступы: сверху 0, справа 0, снизу 0, слева 10px */
}

/* Меню стандартное */
.menu {
  display: flex; /* Включает Flexbox для элемента, чтобы его дочерние элементы располагались в ряд (по умолчанию) */
  gap: 11vw; /* Устанавливает расстояние в 150px между всеми дочерними элементами */
}

.menu a {
  font-size: clamp(12px, 1.2vw, 35px); /* Размер текста 18 пикселей */
  letter-spacing: 0.2vw;
  font-weight: 600;
  color: white; /* Цвет текста белый */
  text-decoration: none; /* Убирает подчеркивание (обычно для ссылок) */
  transition: 0.3s; /* Добавляет плавный переход для всех анимируемых свойств за 0.3 секунды */
}

.menu a:hover {
  opacity: 0.7; /* Устанавливает прозрачность элемента: 0.7 = 70% видимости (30% прозрачности) */
}

.logo-container img {
  height: 6vw; /* Устанавливает высоту элемента (например, изображения) 110px */
  object-fit: contain; /* Масштабирует содержимое так, чтобы оно полностью помещалось в контейнер и сохраняло пропорции */
  margin-left: 60px; /* Добавляет внешний отступ слева 60px */
}

/* Бургер меню для мобильных */
.burger, .menu-burger {
  display: none; /* Скрывает элемент (он полностью убирается из потока страницы) */
}

/* === HERO === */
.hero {
  display: flex; /* Включает Flexbox */
  align-items: center; /* Выравнивание по вертикали */
  flex: 1;
  /* padding-top: 100px; */ /* Внутренний отступ сверху 100px */
  padding-left: 5vw; /* Внутренний отступ слева 50px */
  padding-right: 5vw; /* Внутренний отступ справа 50px */
  margin: 0; /* Убирает внешние отступы */
}

.hero-text {
  flex: 0.6;
  width: 100%; /* Устанавливает ширину элемента равной 100% ширины родителя */
  max-width: none; /* Убирает ограничение максимальной ширины (если оно было задано ранее) */
}

.main-title-media {
  display: none; /* Полностью скрывает элемент — он не отображается и не занимает место в документе */
}

.hero-text h1 {
  font-size: clamp(65px, 5vw, 140px);
  letter-spacing: 1vw;
  margin: 2vw 0 1vw -0.3vw;
}

.hero-text h2 {
  font-size: clamp(10px, 1.55vw, 100px);
  margin: 10px 0 2.5vw 0;
}

.hero-text p {
  font-size: clamp(10px, 1.3vw, 90px);
  width: 85%;
  line-height: 1.5; /* Межстрочный интервал — 1.8 от размера шрифта (улучшает читаемость) */
  text-align: justify; /* Выравнивает текст по ширине (по левому и правому краю) */
  text-justify: inter-word; /* Распределяет пробелы между словами для выравнивания текста */
  margin: 0px 0 100px 0; /* Убирает нижний внешний отступ */
}

/* !!!ПЕРЕДЕЛАТЬ НА КОЛОНКИ!!! */

.hero-media {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
.hero-media img {
  display: block; /* Делает элемент блочным (занимает всю доступную ширину по умолчанию) */
  width: 100%; /* Устанавливает ширину элемента 100% от ширины родителя */
  max-width: 1200px;
  margin-top: -120px;
}

/* === КНОПКА "В НАЛИЧИИ" === */
.availability-btn {
  margin-left: -4vw;
  margin-top: -7.5vw;
  padding: 1.3vw 3vw; /* Внутренние отступы: 15px сверху/снизу, 40px слева/справа */
  font-size: clamp(12px, 1.2vw, 35px); /* Размер текста 18 пикселей */
  letter-spacing: 0.2vw;
  font-weight: bold; /* Жирное начертание текста */
  color: white; /* Белый цвет текста */
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8); /* Тень текста для лучшей читаемости */
  background: rgba(255, 255, 255, 0.2); /* Полупрозрачный белый фон */
  backdrop-filter: blur(
    6px
  ); /* Размытие фона позади элемента (эффект "стекла") */

  border-radius: 50px; /* Сильно скругляет углы (кнопка-капсула) */
  border: 1px solid rgba(255, 255, 255, 0.4); /* Полупрозрачная белая рамка */
  cursor: pointer; /* Курсор в виде руки при наведении */
  transition: 0.3s; /* Плавная анимация изменений (например, при hover) */
  z-index: 10; /* Поднимает элемент поверх других с меньшим z-index */
}

.availability-btn:hover {
  background: rgba(
    255,
    255,
    255,
    0.25
  ); /* Полупрозрачный белый фон (25% непрозрачности) */
  transform: scale(
    1.05
  ); /* Увеличивает элемент на 5% относительно его исходного размера */
}

/* === ПОДВАЛ === */
/* ================= FOOTER ================= */

.footer {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.45),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(10px);
  color: white;
  padding: 40px 20px 20px;
}

.footer-center {
  display: flex;
  flex-direction: column;
  align-items: center; /* центр по горизонтали */
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 40px;
}

.footer-title {
  font-size: clamp(14px, 1vw, 18px);
  font-weight: 700;
  margin-bottom: 15px;
  letter-spacing: 1px;
}
.footer-title-info {
  font-size: clamp(14px, 1vw, 18px);
  font-weight: 700;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center; /* центрирует по горизонтали */
  text-align: center; /* центрирует текст */
}

.phone-mobile {
  display: none;
}

@media (max-width: 1199px) {
  .phone-desktop {
    display: none;
  }
  .phone-mobile {
    display: inline;
  }
}

.phone-mobile,
.phone-desktop {
  font-size: clamp(10px, 0.9vw, 40px);
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.phone-mobile:hover {
  text-decoration: underline;
}

/* Соцсети */
.social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5vw;
  padding: 0;
  margin: 0;
}

.social-icons img {
  width: clamp(34px, 3vw, 55px);
  height: auto;
  transition: transform 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.15);
}

/* Документы */
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 700;
}

.footer-right a {
  color: #fff;
  text-decoration: none;
  font-size: clamp(10px, 0.9vw, 40px);
}

.footer-right a:hover {
  text-decoration: underline;
}

/* Копирайт */
.footer-copy {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: clamp(10px, 0.9vw, 40px);
  opacity: 0.8;
}

footer.highlight {
  animation: footerGlow 2.5s ease-in-out forwards;
  /* Применяет анимацию с именем "footerGlow":
   - 2.5s — длительность анимации 2,5 секунды
   - ease-in-out — плавное начало и завершение анимации
   - forwards — сохраняет конечное состояние анимации после её окончания */
}
@keyframes footerGlow {
  0% {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }

  30% {
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.7);
  }

  100% {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
}

/* 
===============
   АДАПТАЦИЯ
===============
*/

@media (max-width: 768px) {
  .footer-inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }

  .footer-copy {
    text-align: center;
  }
}

/* Скрываем бургер на десктопе */
/* Бургер меню для мобильных */
@media (max-width: 630px) {
.burger {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .burger-lines {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .burger-lines span {
        width: clamp(18px, 1vw, 26px);
        height: clamp(2px, 1vw, 3px);
        background: white;
        border-radius: 2px;
    }

    .burger-text {
        font-size: clamp(8px, 3vw, 18px);
        letter-spacing: 2px;
        font-weight: 600;
        color: white;
    }

    .top-nav {
  padding: 2vw 2vw 0 5vw; /* Внутренние отступы: 20px сверху/снизу, 60px слева/справа */
  margin: 0 0 0 0 ;
}
    .hero{
      position: relative;
    }

  .logo-container img {
    width: 15vw;
    height: auto;
  }


  .menu{
    display: none;
  }

  .menu-burger a {
    font-size: clamp(8px, 2.6vw, 35px);
    width: 100%;
    padding: 10px;
    gap: 20px;
    color: rgb(255, 255, 255);    
  }

  .menu-burger.active {
    display: flex;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.2));
    backdrop-filter: blur(10px);
    margin: 0 5vw 5vw 5vw;
    flex-direction: column;
  }

}


/*.top-nav {
  flex-direction: column;
  align-items: flex-start;
}

.logo-container {
  align-self: flex-end;
  margin-top: 10px;
}
.logo-container img {
height: 14vw;
min-height: 80px;
}
/**/

    /*.menu {
       display: none;
       width: 100%;
       flex-direction: column;
       padding: 20px;
       gap: 15px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.2));
        backdrop-filter: blur(10px);
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        gap: 15px;
      /* width: 95%;
        margin-top: 200px;*/
   /* }

   /* .menu.active {
        display: flex;
    }


}







/* 
===============
   АДАПТАЦИЯ 2
===============
*/


@media (min-width: 992px) and (max-width: 1199px) {
  .menu a {
    font-size: clamp(12px, 1.3vw, 35px); /* Размер текста 18 пикселей */
  }
  .hero-text h1 {
    font-size: clamp(60px, 5.3vw, 140px);
  }
}

@media (min-width: 631px) and (max-width: 690px) {
  .menu {
  gap: 6.5vw; /* Устанавливает расстояние в 150px между всеми дочерними элементами */
}

.logo-container img {
  height: 9vw; /* Устанавливает высоту элемента (например, изображения) 110px */
}

/* .hero-text{
  display: none;
}

.hero-text-media{
  display: block;
}
.m{
  display: flex;
}
.hero-image{
  display: none;
}

.hero-image-media{
  display: block;
} */
}