@import "./reset.css";

html,
body {
  max-width: 100%; /* Ограничивает максимальную ширину элемента 100% от родителя */
  height: 100%; /* Устанавливает высоту элемента равной 100% высоты родителя */
  margin: 0; /* Убирает внешние отступы со всех сторон */
}

* {
  box-sizing: border-box; /* Включает расчёт размеров с учётом padding и border внутри указанной ширины и высоты */
  /* outline: 1px solid red;   */
}

/* === ФОН И ОСНОВНЫЕ СТИЛИ === */
body {
  margin: 0; /* Убирает внешние отступы элемента */
  padding: 0; /* Убирает внутренние отступы элемента */
  background-image: url("../img/fon/les.png"); /* Устанавливает фоновое изображение */
  background-size: cover; /* Масштабирует фон так, чтобы он полностью покрывал элемент */
  background-position: center; /* Центрирует фоновое изображение */
  background-attachment: fixed; /* Делает фон фиксированным (эффект параллакса при прокрутке) */
  font-family:
    Arial, sans-serif; /* Устанавливает шрифт Arial, с запасным вариантом sans-serif */
  color: white; /* Устанавливает белый цвет текста */
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8); /* Добавляет тень к тексту для лучшей читаемости */
  overflow-x: hidden; /* Скрывает горизонтальную прокрутку */
  display: flex; /* Включает Flexbox для элемента */
  flex-direction: column; /* Располагает дочерние элементы вертикально (в колонку) */
  min-height: 100vh;
}

img {
  max-width: 100%; /* Ограничивает максимальную ширину элемента 100% ширины родителя (не даёт выходить за пределы контейнера) */
  height: auto; /* Автоматически подстраивает высоту пропорционально ширине (сохраняет соотношение сторон, например, у изображений) */
}

/* === ШАПКА === */
.top-nav {
  display: flex; /* Включает Flexbox для упрощённого выравнивания дочерних элементов */
  justify-content: space-between; /* Распределяет дочерние элементы равномерно с максимальным расстоянием между ними */
  align-items: center; /* Выравнивает дочерние элементы по центру по вертикали */
  height: 60px;
  padding: 4vw 2vw 2vw 4.5vw; /* Внутренние отступы: 20px сверху/снизу, 60px слева/справа */
  box-sizing: border-box; /* Включает padding и border в расчёт ширины/высоты элемента */
  position: relative; /* Позволяет позиционировать дочерние элементы относительно этого элемента */
  margin: 0 0 0 10px; /* Внешние отступы: сверху 0, справа 0, снизу 0, слева 10px */
}

/* Меню стандартное */
.menu {
  display: flex; /* Включает Flexbox для элемента, чтобы его дочерние элементы располагались в ряд (по умолчанию) */
  gap: 11vw; /* Устанавливает расстояние в 150px между всеми дочерними элементами */
}

.menu a {
  font-size: clamp(12px, 1.2vw, 35px); /* Размер текста 18 пикселей */
  letter-spacing: 0.2vw;
  font-weight: 600;
  color: white; /* Цвет текста белый */
  text-decoration: none; /* Убирает подчеркивание (обычно для ссылок) */
  transition: 0.3s; /* Добавляет плавный переход для всех анимируемых свойств за 0.3 секунды */
}

.menu a:hover {
  opacity: 0.7; /* Устанавливает прозрачность элемента: 0.7 = 70% видимости (30% прозрачности) */
}

.logo-container img {
  height: 6vw; /* Устанавливает высоту элемента (например, изображения) 110px */
  object-fit: contain; /* Масштабирует содержимое так, чтобы оно полностью помещалось в контейнер и сохраняло пропорции */
  margin-left: 60px; /* Добавляет внешний отступ слева 60px */
}

/* Бургер меню для мобильных */
.burger,
.menu-burger {
  display: none; /* Скрывает элемент (он полностью убирается из потока страницы) */
}

/* === HERO === */
.hero {
  display: flex; /* Включает Flexbox */
  align-items: center; /* Выравнивание по вертикали */
  flex: 1;
  padding-left: 5vw; /* Внутренний отступ слева 50px */
  padding-right: 5vw; /* Внутренний отступ справа 50px */
  margin: 0; /* Убирает внешние отступы */
}

/* Заголовок */
.main-title h1 {
  font-size: clamp(30px, 5vw, 100px);
  letter-spacing: 1vw;
  margin: 2vw 0 1vw -0.3vw;
}

/* Подзаголовок */
.sub-content h2 {
  font-size: 28px;
  margin: 10px 0 20px 0;
}

/* Обёртка текста */
.description-wrapper {
  font-size: 20px;
  line-height: 1.8;
  padding-right: 0;
  text-align: justify;
  margin-left: 0;
  min-width: 1200px;
}

/* Сам текст (ключевое позиционирование) */
.description {
  font-size: 20px;
  line-height: 1.6;
  margin: 0;
}

/* ============================= */
/* ===== НАСТРОЙКИ ГАЛЕРЕИ ===== */
/* ============================= */

:root {
  --columns-count: 3; /* 🔹 СКОЛЬКО ФОТО В РЯДУ (3, 4, 5...) */
  --gap-x: 5vw; /* 🔹 расстояние МЕЖДУ фото по горизонтали */
  --gap-y: 4vw; /* 🔹 расстояние МЕЖДУ фото по вертикали */
}

/* ============================= */
/* ===== ГАЛЕРЕЯ ===== */
/* ============================= */

.portfolio-gallery {
  display: grid;
  grid-template-columns: repeat(var(--columns-count), 1fr);
  column-gap: var(--gap-x);
  row-gap: var(--gap-y);
  margin: 40px auto 0 auto;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

/* ============================= */
/* ===== КАРТОЧКА ===== */
/* ============================= */

.portfolio-item {
  text-align: center;
  cursor: pointer;
}

/* ============================= */
/* ===== ФОТО ===== */
/* ============================= */

.portfolio-item img {
  width: 100%; /* ❗ оставляем как у тебя (идеально) */
  border-radius: 12px;
  transition: 0.4s ease;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

/* ============================= */
/* ===== ХОВЕР ===== */
/* ============================= */

.portfolio-item img:hover {
  box-shadow: 0 0 40px rgba(40, 120, 70, 0.8);
  transform: scale(1.03);
}

/* ============================= */
/* ===== ТЕКСТ ===== */
/* ============================= */

.portfolio-item h3 {
  margin-top: 18px;
  margin-bottom: 20px;
  font-size: clamp(10px, 1.55vw, 100px);
}

.portfolio-item p {
  font-size: clamp(10px, 1vw, 40px);
  opacity: 0.8;
}

/* ============================= */
/* ===== ЛАЙТБОКС ===== */
/* ============================= */

.lightbox {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
}

/* ============================= */
/* ===== КНОПКИ ===== */
/* ============================= */

.lightbox .close {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.arrow {
  position: absolute;
  top: 50%;
  font-size: 60px;
  color: white;
  cursor: pointer;
  user-select: none;
}

.arrow.left {
  left: 40px;
}
.arrow.right {
  right: 40px;
}

/* ============================= */
/* ===== АКТИВНАЯ КНОПКА ===== */
/* ============================= */

.menu a.active {
  color: white;
  text-shadow: 0 0 25px rgba(40, 120, 70, 1);
}

/* Кнопка "Наверх" */
.back-to-top {
  opacity: 0; /* по умолчанию скрыта */
  transition: opacity 0.3s; /* плавное появление */
  pointer-events: none; /* чтобы не мешала клику, когда скрыта */
}

.back-to-top.show {
  opacity: 1; /* видна */
  pointer-events: auto; /* теперь кнопка кликабельна */
}
/* Кнопка "Наверх" поверх всего */
.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99999; /* гарантированно выше всего */
}

.back-to-top button {
  padding: 0.6vw 1.4vw;
  font-size: clamp(6px, 1vw, 20px);
  color: white;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.back-to-top button:hover {
  background: rgba(255, 255, 255, 0.35);
  transform: scale(1.05);
}

/* === ПОДВАЛ === */

.footer {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.45),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(10px);
  color: white;
  padding: 40px 20px 20px;
  margin-top: 100px;
}

.footer-center {
  display: flex;
  flex-direction: column;
  align-items: center; /* центр по горизонтали */
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 40px;
}

.footer-title {
  font-size: clamp(14px, 1vw, 18px);
  font-weight: 700;
  margin-bottom: 15px;
  letter-spacing: 1px;
}
.footer-title-info {
  font-size: clamp(14px, 1vw, 18px);
  font-weight: 700;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center; /* центрирует по горизонтали */
  text-align: center; /* центрирует текст */
}

.phone-mobile {
  display: none;
}

@media (max-width: 1199px) {
  .phone-desktop {
    display: none;
  }
  .phone-mobile {
    display: inline;
  }
}

.phone-mobile,
.phone-desktop {
  font-size: clamp(10px, 0.9vw, 40px);
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.phone-mobile:hover {
  text-decoration: underline;
}

/* Соцсети */
.social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5vw;
  padding: 0;
  margin: 0;
}

.social-icons img {
  width: clamp(34px, 3vw, 55px);
  height: auto;
  transition: transform 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.15);
}

/* Документы */
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 700;
}

.footer-right a {
  color: #fff;
  text-decoration: none;
  font-size: clamp(10px, 0.9vw, 40px);
}

.footer-right a:hover {
  text-decoration: underline;
}

/* Копирайт */
.footer-copy {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: clamp(10px, 0.9vw, 40px);
  opacity: 0.8;
}

footer.highlight {
  animation: footerGlow 2.5s ease-in-out forwards;
  /* Применяет анимацию с именем "footerGlow":
   - 2.5s — длительность анимации 2,5 секунды
   - ease-in-out — плавное начало и завершение анимации
   - forwards — сохраняет конечное состояние анимации после её окончания */
}
@keyframes footerGlow {
  0% {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }

  30% {
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.7);
  }

  100% {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
}

/* === АДАПТИВНОСТЬ === */
/* Бургер меню для мобильных */
@media (max-width: 630px) {
  .burger {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .burger-lines {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .burger-lines span {
    width: clamp(15px, 4vw, 26px);
    height: clamp(3px, 0.5vw, 5px);
    background: white;
    border-radius: 2px;
  }

  .burger-text {
    font-size: clamp(8px, 3vw, 18px);
    letter-spacing: 2px;
    font-weight: 600;
    color: white;
  }

  .top-nav {
    padding: 5vw 2vw 0 5vw; /* Внутренние отступы: 20px сверху/снизу, 60px слева/справа */
    margin: 0 0 0 0;
  }
  .hero {
    position: relative;
    margin-top: 2vw;
  }

  .logo-container img {
    width: 12vw;
    height: auto;
  }

  .menu {
    display: none;
  }

  .menu-burger a {
    font-size: clamp(8px, 2.6vw, 35px);
    width: 100%;
    padding: 10px;
    gap: 20px;
    color: rgb(255, 255, 255);
  }

  .menu-burger.active {
    display: flex;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.45),
      rgba(255, 255, 255, 0.2)
    );
    backdrop-filter: blur(10px);
    margin: 3vw 5vw 2vw 5vw;
    flex-direction: column;
  }
}
